- 머신러닝적 접근방법 vs 통계적 접근방법

    머신러닝과 통계학은 결과론적으로는 머신러닝은 큰 데이터를 다루고 통계학은 미시적 관점의 데이터를 다룬다.

# 서울시 상권별 월평균 매출액 예측

1. 데이터 서울시 우리마을 가게 상권배후지추정매출 (2014 ~ 2020 2분기)
2. 예측: 상권 종목 별 월 평균 매출액 예측(KRW)
3. 특징: 시계열 데이터 변환
4. 목표: 분기별 예측 R^2 80% 이상

정형 데이터에는 __시계열 데이터(time series data)__가 많다

In [1]:
import pandas as pd
import os
pd.set_option('display.max_row',100)
pd.set_option('display.max_column',100) # 행과 열을 많이 볼 수 있게 해줌

In [2]:
os.listdir('상권배후지추정매출')

['2014년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2015년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2016년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2017년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2018년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2019년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2020년_우리마을가게_상권서비스_상권배후지-추정매출.csv']

In [3]:
path = '상권배후지추정매출/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')] ## 파일명 끝이 .csv인 경우
print(file_list_py)

['2014년_우리마을가게_상권서비스_상권배후지-추정매출.csv', '2015년_우리마을가게_상권서비스_상권배후지-추정매출.csv', '2016년_우리마을가게_상권서비스_상권배후지-추정매출.csv', '2017년_우리마을가게_상권서비스_상권배후지-추정매출.csv', '2018년_우리마을가게_상권서비스_상권배후지-추정매출.csv', '2019년_우리마을가게_상권서비스_상권배후지-추정매출.csv', '2020년_우리마을가게_상권서비스_상권배후지-추정매출.csv']

In [4]:
df = pd.DataFrame()
try:
    for i in file_list_py:
#         print(path + i)
        data = pd.read_csv(path + i, encoding='cp949', thousands=',')
        df = pd.concat([df,data])
except:
    print('Error!!!')
else:
    print('완료')   
df = df.reset_index(drop = True)

완료

# 결측치 확인

In [5]:
df.isna().sum()

기준_년_코드            0
기준_분기_코드           0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_비율           0
주말_매출_비율           0
월요일_매출_비율          0
화요일_매출_비율          0
수요일_매출_비율          0
목요일_매출_비율          0
금요일_매출_비율          0
토요일_매출_비율          0
일요일_매출_비율          0
시간대_00~06_매출_비율    0
시간대_06~11_매출_비율    0
시간대_11~14_매출_비율    0
시간대_14~17_매출_비율    0
시간대_17~21_매출_비율    0
시간대_21~24_매출_비율    0
남성_매출_비율           0
여성_매출_비율           0
연령대_10_매출_비율       0
연령대_20_매출_비율       0
연령대_30_매출_비율       0
연령대_40_매출_비율       0
연령대_50_매출_비율       0
연령대_60_이상_매출_비율    0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
점포수                0
dtype: int64

In [6]:
(df['점포수'] == 0).sum()

8657

In [7]:
df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [8]:
# df['점포수'] = df['점포수'].replace({0: 1})
df[df['점포수'] == 0] = 1

In [9]:
(df['점포수'] == 0).sum()

0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434810 entries, 0 to 1434809
Data columns (total 80 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   기준_년_코드          1434810 non-null  int64
 1   기준_분기_코드         1434810 non-null  int64
 2   상권_구분_코드         1434810 non-null  object
 3   상권_구분_코드_명       1434810 non-null  object
 4   상권_코드            1434810 non-null  int64
 5   상권_코드_명          1434810 non-null  object
 6   서비스_업종_코드        1434810 non-null  object
 7   서비스_업종_코드_명      1434810 non-null  object
 8   당월_매출_금액         1434810 non-null  int64
 9   당월_매출_건수         1434810 non-null  int64
 10  주중_매출_비율         1434810 non-null  int64
 11  주말_매출_비율         1434810 non-null  int64
 12  월요일_매출_비율        1434810 non-null  int64
 13  화요일_매출_비율        1434810 non-null  int64
 14  수요일_매출_비율        1434810 non-null  int64
 15  목요일_매출_비율        1434810 non-null  int64
 16  금요일_매출_비율        1434810 non-null  int64
 17  토요일_매출_비율        1434810 non-null  int64
 18  일요일_매출_비율        1434810 non-null  int64
 19  시간대_00~06_매출_비율  1434810 non-null  int64
 20  시간대_06~11_매출_비율  1434810 non-null  int64
 21  시간대_11~14_매출_비율  1434810 non-null  int64
 22  시간대_14~17_매출_비율  1434810 non-null  int64
 23  시간대_17~21_매출_비율  1434810 non-null  int64
 24  시간대_21~24_매출_비율  1434810 non-null  int64
 25  남성_매출_비율         1434810 non-null  int64
 26  여성_매출_비율         1434810 non-null  int64
 27  연령대_10_매출_비율     1434810 non-null  int64
 28  연령대_20_매출_비율     1434810 non-null  int64
 29  연령대_30_매출_비율     1434810 non-null  int64
 30  연령대_40_매출_비율     1434810 non-null  int64
 31  연령대_50_매출_비율     1434810 non-null  int64
 32  연령대_60_이상_매출_비율  1434810 non-null  int64
 33  주중_매출_금액         1434810 non-null  int64
 34  주말_매출_금액         1434810 non-null  int64
 35  월요일_매출_금액        1434810 non-null  int64
 36  화요일_매출_금액        1434810 non-null  int64
 37  수요일_매출_금액        1434810 non-null  int64
 38  목요일_매출_금액        1434810 non-null  int64
 39  금요일_매출_금액        1434810 non-null  int64
 40  토요일_매출_금액        1434810 non-null  int64
 41  일요일_매출_금액        1434810 non-null  int64
 42  시간대_00~06_매출_금액  1434810 non-null  int64
 43  시간대_06~11_매출_금액  1434810 non-null  int64
 44  시간대_11~14_매출_금액  1434810 non-null  int64
 45  시간대_14~17_매출_금액  1434810 non-null  int64
 46  시간대_17~21_매출_금액  1434810 non-null  int64
 47  시간대_21~24_매출_금액  1434810 non-null  int64
 48  남성_매출_금액         1434810 non-null  int64
 49  여성_매출_금액         1434810 non-null  int64
 50  연령대_10_매출_금액     1434810 non-null  int64
 51  연령대_20_매출_금액     1434810 non-null  int64
 52  연령대_30_매출_금액     1434810 non-null  int64
 53  연령대_40_매출_금액     1434810 non-null  int64
 54  연령대_50_매출_금액     1434810 non-null  int64
 55  연령대_60_이상_매출_금액  1434810 non-null  int64
 56  주중_매출_건수         1434810 non-null  int64
 57  주말_매출_건수         1434810 non-null  int64
 58  월요일_매출_건수        1434810 non-null  int64
 59  화요일_매출_건수        1434810 non-null  int64
 60  수요일_매출_건수        1434810 non-null  int64
 61  목요일_매출_건수        1434810 non-null  int64
 62  금요일_매출_건수        1434810 non-null  int64
 63  토요일_매출_건수        1434810 non-null  int64
 64  일요일_매출_건수        1434810 non-null  int64
 65  시간대_건수~06_매출_건수  1434810 non-null  int64
 66  시간대_건수~11_매출_건수  1434810 non-null  int64
 67  시간대_건수~14_매출_건수  1434810 non-null  int64
 68  시간대_건수~17_매출_건수  1434810 non-null  int64
 69  시간대_건수~21_매출_건수  1434810 non-null  int64
 70  시간대_건수~24_매출_건수  1434810 non-null  int64
 71  남성_매출_건수         1434810 non-null  int64
 72  여성_매출_건수         1434810 non-null  int64
 73  연령대_10_매출_건수     1434810 non-null  int64
 74  연령대_20_매출_건수     1434810 non-null  int64
 75  연령대_30_매출_건수     1434810 non-null  int64
 76  연령대_40_매출_건수     1434810 non-null  int64
 77  연령대_50_매출_건수     1434810 non-null  int64
 78  연령대_60_이상_매출_건수  1434810 non-null  int64
 79  점포수              1434810 non-null  int64
dtypes: int64(75), object(5)
memory usage: 875.7+ MB

In [11]:
df.isna().sum()

기준_년_코드            0
기준_분기_코드           0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_비율           0
주말_매출_비율           0
월요일_매출_비율          0
화요일_매출_비율          0
수요일_매출_비율          0
목요일_매출_비율          0
금요일_매출_비율          0
토요일_매출_비율          0
일요일_매출_비율          0
시간대_00~06_매출_비율    0
시간대_06~11_매출_비율    0
시간대_11~14_매출_비율    0
시간대_14~17_매출_비율    0
시간대_17~21_매출_비율    0
시간대_21~24_매출_비율    0
남성_매출_비율           0
여성_매출_비율           0
연령대_10_매출_비율       0
연령대_20_매출_비율       0
연령대_30_매출_비율       0
연령대_40_매출_비율       0
연령대_50_매출_비율       0
연령대_60_이상_매출_비율    0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
점포수                0
dtype: int64

In [12]:
df.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,토요일_매출_비율,일요일_매출_비율,시간대_00~06_매출_비율,시간대_06~11_매출_비율,시간대_11~14_매출_비율,시간대_14~17_매출_비율,시간대_17~21_매출_비율,시간대_21~24_매출_비율,남성_매출_비율,여성_매출_비율,연령대_10_매출_비율,연령대_20_매출_비율,연령대_30_매출_비율,연령대_40_매출_비율,연령대_50_매출_비율,연령대_60_이상_매출_비율,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2014,1,A,골목상권,1000522,목동로9길,CS200041,사진관,161604397,3021,72,28,11,25,13,9,14,14,15,0,2,28,42,25,3,54,47,1,14,39,27,14,5,100042798,61561599,17968044,28371651,18357966,12049227,23295910,24092752,37468847,0,2378575,39876652,84365646,33658152,1325372,93330804,59084230,1309668,13897392,51577338,50762339,25581730,9286565,2409,612,531,410,590,288,590,296,316,0,113,855,1125,865,63,1450,1435,97,683,679,674,441,311,5
1,2014,1,A,골목상권,1000580,공항대로8길,CS100007,치킨전문점,352909128,14422,69,31,12,13,14,13,16,17,14,9,0,3,6,42,40,61,39,2,30,34,19,12,4,235385535,117523593,39085456,44017378,46228033,48626689,57427979,62377271,55146322,34371027,766289,19427117,26559849,139588329,132196517,207375755,124772037,3916726,79855638,104960361,72843384,56004540,14567146,9672,4750,1663,1797,2001,1903,2308,2564,2186,1374,19,557,933,5793,5746,8280,5597,256,3970,4688,2750,1707,510,19
2,2014,1,A,골목상권,1000507,가로공원로58길,CS200028,미용실,174625276,5695,65,35,16,8,13,13,16,18,17,0,3,13,33,45,6,39,61,3,17,23,30,18,10,100494277,74130999,24880663,9925117,19874907,22234389,23579201,38112802,36018197,0,3662572,23549792,58045902,75629543,13737467,54293158,119963965,3764935,36811365,48158550,46409738,28114805,10997731,3458,2237,805,380,684,818,771,1081,1156,0,124,998,1810,2474,289,2639,3044,130,1234,1561,1440,925,391,36
3,2014,1,A,골목상권,1000556,강서로18길,CS300035,인테리어,158530192,1571,88,13,9,8,25,17,29,4,8,0,13,20,35,31,1,31,69,1,7,38,22,23,10,148628711,9901481,6916790,5909822,13908884,19222623,102670592,4233065,5668416,0,74999409,24867373,29254245,27970906,1438259,22555025,135866734,266530,2363344,109859869,16027485,25152714,4751817,1380,191,211,226,259,181,503,118,73,0,225,440,421,455,30,395,1158,20,127,662,366,286,92,21
4,2014,1,A,골목상권,1000509,곰달래로2길,CS100007,치킨전문점,238151311,9718,70,30,13,16,13,14,14,17,14,13,0,1,6,37,43,65,35,2,19,37,21,15,6,156679132,81472179,26684624,32143350,31462781,30124919,36263458,40677054,40795125,65854340,439980,1250909,7281370,66214094,97110618,140559235,78858749,3596772,48538647,82050481,53478587,24612342,7141155,6291,3427,1142,1218,1281,1253,1397,1714,1713,1976,13,72,353,3147,4157,5763,3573,171,2165,3484,2160,1038,316,11

- 그룹핑을 하기 위해서는 pivot_table() 함수에서 필수적으로 다음의 파라미터가 들어가야 한다.

    - __DataFrame명__
    - __index = ['그룹핑하고 싶은 칼럼명1','그룹핑하고 싶은 칼럼명2',....]__

- 상기에서 산식을 넣는 방법은 하나의 산식을 넣는 경우는 다음과 같이 3가지 방법 중 하나를 선택할 수 있다.
    
    aggfunc을 리스트로 설정하는 경우 칼럼명이 상단에 나오고, 그렇지 않은 경우 칼럼명이 상단에 나오지 않는 차이가 있다.
    - aggfunc = 'sum'
    - aggfunc = sum
    - aggfunc = [sum]
    - aggfunc = ['sum']



- 두 개 이상의 산식을 넣는 경우에는 다음과 같이 3가지 방법 중 하나를 선택할 수 있다.
    - aggfunc = ['sum', 'count'...] 와 같이 리스트로 처리하면 된다.
    - aggfunc = [sum, count...] 와 같이 리스트로 처리하면 된다.
    - aggfunc = [np.sum,...]와 같이 numpy를 불러와서 처리할 수 있다.

In [13]:
df['기준_년_분기_코드'] = df.기준_년_코드.astype(str) + '_' + df['기준_분기_코드'].astype(str)

In [14]:
df['기준_년_분기_코드']

0          2014_1
1          2014_1
2          2014_1
3          2014_1
4          2014_1
            ...
1434805    2020_1
1434806    2020_1
1434807    2020_1
1434808    2020_1
1434809    2020_1
Name: 기준_년_분기_코드, Length: 1434810, dtype: object

In [15]:
df['서비스_업종_코드'] = df['서비스_업종_코드'].str.replace('CS', '')

In [19]:
df_pivot = pd.pivot_table(df,
               index=['상권_코드', '서비스_업종_코드'],
               values='당월_매출_금액', 
               columns ='기준_년_분기_코드')
df_pivot

기준_년_분기_코드               2014_1        2014_2        2014_3        2014_4  \
상권_코드   서비스_업종_코드
1000001 100001     7.433158e+09  8.756711e+09  8.260284e+09  9.878874e+09
        100002     4.698530e+08  5.193529e+08  5.346619e+08  6.561322e+08
        100003     5.407806e+08  1.467329e+08  1.621203e+08  1.536949e+08
        100004     2.758460e+09  3.031376e+09  2.865334e+09  5.626185e+09
        100005     4.171428e+08  4.712788e+08  2.878417e+08  2.815226e+08
...                         ...           ...           ...           ...
1001010 300033     5.912842e+08  6.314815e+08  6.976224e+08  8.167324e+08
        300035     9.629606e+07  5.925332e+07  7.216814e+07  1.547206e+08
        300036     9.690920e+07  1.335945e+08  5.392961e+07  1.273068e+08
        300042     8.715141e+08  8.624962e+08  8.249957e+08  1.092994e+09
        300043     5.812104e+06  8.458344e+06  4.303119e+06  1.232225e+06

기준_년_분기_코드               2015_1        2015_2        2015_3        2015_4  \
상권_코드   서비스_업종_코드
1000001 100001     7.322996e+09  7.709008e+09  7.365721e+09  8.532948e+09
        100002     4.680525e+08  5.102170e+08  4.933798e+08  5.769752e+08
        100003     1.177669e+08  1.254816e+08  1.207213e+08  1.440302e+08
        100004     3.354092e+09  3.659346e+09  3.144532e+09  3.975923e+09
        100005     8.657118e+08  8.945422e+08  6.383995e+08  6.036121e+08
...                         ...           ...           ...           ...
1001010 300033     5.016866e+08  5.383760e+08  5.095348e+08  6.203545e+08
        300035     1.022977e+08  5.751050e+07  6.357323e+07  9.121595e+07
        300036     4.312296e+08  4.243706e+08  4.789563e+08  4.775497e+08
        300042     1.430708e+09  1.417945e+09  1.264699e+09  1.246648e+09
        300043     2.166435e+07  2.315129e+07  1.884715e+07  4.484693e+06

기준_년_분기_코드               2016_1        2016_2        2016_3        2016_4  \
상권_코드   서비스_업종_코드
1000001 100001     7.366679e+09  8.002257e+09  7.087322e+09  7.875741e+09
        100002     5.540381e+08  5.713702e+08  5.096838e+08  5.719078e+08
        100003     1.182838e+08  8.536052e+07  8.190756e+07  9.944812e+07
        100004     4.122420e+09  3.958603e+09  3.589118e+09  3.884807e+09
        100005     7.979751e+08  7.096444e+08  5.235257e+08  7.436254e+08
...                         ...           ...           ...           ...
1001010 300033     5.749801e+08  6.424579e+08  6.469848e+08  6.516241e+08
        300035     7.407045e+08  5.235348e+08  7.189768e+08  8.342026e+08
        300036     2.225141e+08  3.505864e+08  6.773731e+08  3.893251e+08
        300042     1.302402e+09  1.353149e+09  1.614664e+09  1.631785e+09
        300043     4.976030e+06  9.793664e+06  8.747745e+06  6.168022e+06

기준_년_분기_코드               2017_1        2017_2        2017_3        2017_4  \
상권_코드   서비스_업종_코드
1000001 100001     6.988500e+09  7.666750e+09  7.225470e+09  7.961262e+09
        100002     5.296143e+08  4.863319e+08  4.236697e+08  4.452877e+08
        100003     8.384869e+07  5.955975e+07  6.646998e+07  5.910029e+07
        100004     3.701013e+09  4.367435e+09  3.564806e+09  3.794286e+09
        100005     6.007113e+08  5.759568e+08  5.496435e+08  8.472371e+08
...                         ...           ...           ...           ...
1001010 300033     6.057743e+08  7.243819e+08  7.351504e+08  6.718956e+08
        300035     7.687301e+08  1.186507e+09  1.466654e+09  1.425292e+09
        300036     2.106093e+08  2.291585e+08  1.846537e+08  2.033572e+08
        300042     1.546851e+09  1.312291e+09  1.253307e+09  1.217004e+09
        300043     8.582376e+06  2.765282e+07  1.905537e+07  9.767914e+06

기준_년_분기_코드               2018_1        2018_2        2018_3        2018_4  \
상권_코드   서비스_업종_코드
1000001 100001     6.856575e+09  7.803787e+09  6.936749e+09  8.020091e+09
        100002     3.922840e+08  3.839809e+08  2.828269e+08  3.428546e+08
        100003     9.398748e+07  9.588611e+07  1.065180e+08  1.113678e+08
        100004     3.271007e+09  3.931565e+09  3.786519e+09  4.877771e+09
        100005     7.876644e+08  7.596546e+08  6.823421e+08  8.177906e+08
...                         ...           ...           ...           ...
1001010 300033     6.863082e+08  8.121866e+08  7.775241e+08  7.323910e+08
        300035     1.599139e+09  5.932944e+08  4.283783e+08  5.600028e+08
        300036     2.232429e+08  1.017684e+08  1.566126e+08  1.830973e+08
        300042     2.232359e+09  2.712211e+09  3.105113e+09  1.891718e+09
        300043     8.036641e+06  3.611231e+07  1.535411e+07  2.873564e+06

기준_년_분기_코드               2019_1        2019_2        2019_3        2019_4  \
상권_코드   서비스_업종_코드
1000001 100001     5.516331e+09  6.361395e+09  5.910882e+09  6.668957e+09
        100002     2.440875e+08  2.692632e+08  2.467609e+08  2.450890e+08
        100003     1.180666e+08  2.850024e+07  2.387448e+08  2.119224e+08
        100004     2.876455e+09  2.669172e+09  3.978045e+09  4.768818e+09
        100005     5.272759e+08  5.023930e+08  3.956483e+08  1.721342e+09
...                         ...           ...           ...           ...
1001010 300033     7.089767e+08  6.309290e+08  7.245800e+08  8.588107e+08
        300035     3.031468e+07  6.293921e+07  2.020516e+07  1.089083e+08
        300036     2.465811e+07  2.096578e+07  3.418046e+07  7.070651e+08
        300042              NaN           NaN           NaN           NaN
        300043     4.214598e+06  6.994388e+06  1.484151e+07  4.312144e+06

기준_년_분기_코드               2020_1        2020_2
상권_코드   서비스_업종_코드
1000001 100001     4.209695e+09  4.916907e+09
        100002     1.797234e+08  2.103442e+08
        100003     1.563614e+08  1.455803e+08
        100004     3.488123e+09  3.980355e+09
        100005     1.251102e+09  1.465348e+09
...                         ...           ...
1001010 300033     6.760673e+08  7.851312e+08
        300035     4.295311e+06  2.659727e+08
        300036     4.561526e+08  6.461363e+08
        300042              NaN           NaN
        300043     1.417625e+06  1.168582e+06

[63428 rows x 26 columns]

In [20]:
df_pivot.columns

Index(['2014_1', '2014_2', '2014_3', '2014_4', '2015_1', '2015_2', '2015_3',
       '2015_4', '2016_1', '2016_2', '2016_3', '2016_4', '2017_1', '2017_2',
       '2017_3', '2017_4', '2018_1', '2018_2', '2018_3', '2018_4', '2019_1',
       '2019_2', '2019_3', '2019_4', '2020_1', '2020_2'],
      dtype='object', name='기준_년_분기_코드')

In [39]:
df_pivot.isna().sum()

기준_년_분기_코드
2014_1     7405
2014_2     7019
2014_3     6852
2014_4     6814
2015_1     6995
2015_2     6630
2015_3     6659
2015_4     6603
2016_1     6832
2016_2     6360
2016_3     6073
2016_4     5952
2017_1     6224
2017_2     6090
2017_3     6456
2017_4     6753
2018_1     6843
2018_2     6729
2018_3     7043
2018_4     7031
2019_1    14390
2019_2    14743
2019_3    14681
2019_4    15061
2020_1    15436
2020_2    15301
dtype: int64

In [41]:
df_pivot.dropna(inplace=True)

In [42]:
df_pivot.isna().sum()

기준_년_분기_코드
2014_1    0
2014_2    0
2014_3    0
2014_4    0
2015_1    0
2015_2    0
2015_3    0
2015_4    0
2016_1    0
2016_2    0
2016_3    0
2016_4    0
2017_1    0
2017_2    0
2017_3    0
2017_4    0
2018_1    0
2018_2    0
2018_3    0
2018_4    0
2019_1    0
2019_2    0
2019_3    0
2019_4    0
2020_1    0
2020_2    0
dtype: int64

# train / test set 분리하기

In [43]:
X = df_pivot.drop(['2020_2'], axis=1)
y = df_pivot['2020_2']

In [44]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3, random_state=100)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(len(X_train) + len(X_test))

(29946, 25)
(12835, 25)
(29946,)
(12835,)
42781

# 모델링하기

In [45]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet, HuberRegressor

# from sklearn.linear_model import PassiveAggressiveRegressor, RANSACRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.kernel_ridge import KernelRidge

# from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

# from sklear.svm import NuSVR
import xgboost
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [46]:
## Pre-allocate models and corresponding parameter candidates
models = []
params = []

In [47]:
model = ('Ridge', Ridge())
param = {
    'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0]
}

models.append(model)
params.append(param)

In [48]:
model = ('Lasso', Lasso())
param = {
    'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0]
}

models.append(model)
params.append(param)

In [49]:
model = ('ElasticNet', ElasticNet())
param = {
    'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0],
    'l1_ratio': [0.3, 0.5, 0.7]
}

models.append(model)
params.append(param)

In [50]:
model = ('HuberReg', HuberRegressor())
param = {
    'alpha': [0.0001, 0.001, 0.01]
}

models.append(model)
params.append(param)

In [51]:
model = ('CART', DecisionTreeRegressor())
param = {
    'max_depth': [2, 3, 4, 5],
    'min_samples_split': [0.02, 0.05]
}

models.append(model)
params.append(param)

In [52]:
model = ('StandardizedKNN', Pipeline([('Standardization', StandardScaler()), ('KNN', KNeighborsRegressor())]))
param = {
    'KNN__n_neighbors': [5, 10, 15, 20, 25, 30],
    'KNN__weights': ['uniform', 'distance']
}

models.append(model)
params.append(param)

In [53]:
model = ('XGB', XGBRegressor())
param = {'min_child_weight':[0.5, 1.0], 
         'gamma': [0.04],
         'subsample': [0.5],
         'colsample_bytree': [0.5],
         'max_depth': [3, 4]
        
}
models.append(model)
params.append(param)

In [54]:
from pprint import pprint
pprint(models)
print("=" * 60)
pprint(params)

[('Ridge', Ridge()),
 ('Lasso', Lasso()),
 ('ElasticNet', ElasticNet()),
 ('HuberReg', HuberRegressor()),
 ('CART', DecisionTreeRegressor()),
 ('StandardizedKNN',
  Pipeline(steps=[('Standardization', StandardScaler()),
                ('KNN', KNeighborsRegressor())])),
 ('XGB',
  XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, subsample=None, tree_method=None,
             validate_parameters=None, verbosity=None))]
============================================================
[{'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0]},
 {'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0]},
 {'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0], 'l1_ratio': [0.3, 0.5, 0.7]},
 {'alpha': [0.0001, 0.001, 0.01]},
 {'max_depth': [2, 3, 4, 5], 'min_samples_split': [0.02, 0.05]},
 {'KNN__n_neighbors': [5, 10, 15, 20, 25, 30],
  'KNN__weights': ['uniform', 'distance']},
 {'colsample_bytree': [0.5],
  'gamma': [0.04],
  'max_depth': [3, 4],
  'min_child_weight': [0.5, 1.0],
  'subsample': [0.5]}]

In [55]:
from sklearn.model_selection import KFold, GridSearchCV
from sklearn import metrics
from datetime import datetime

In [56]:
def gridsearch_cv_for_regression(model, param, kfold, train_input, train_target, scoring='neg_mean_squared_error', n_jobs=-1, tracking=True):

    name = model[0]
    estimator = model[1]
    if tracking:
        start_time = datetime.now()
        print("[%s] Start parameter search for model '%s'" % (start_time, name))
        gridsearch = GridSearchCV(estimator=estimator, param_grid=param, cv=kfold, scoring=scoring, n_jobs=n_jobs)
        gridsearch.fit(train_input, train_target)
        end_time = datetime.now()
        duration_time = (end_time - start_time).seconds
        print("[%s] Finish parameter search for model '%s' (time: %d seconds)" % (end_time, name, duration_time))
        print()
    else:
        gridsearch = GridSearchCV(estimator=estimator, param_grid=param, cv=kfold, scoring=scoring, n_jobs=n_jobs)
        gridsearch.fit(train_input, train_target)
    
    return gridsearch

In [57]:
kfold = KFold(n_splits=10, 
              shuffle=True, 
              random_state=1234)

In [58]:
# Grid search
kfold = KFold(n_splits=10, shuffle=True, random_state=1234)

results = []

for i in range(len(models)):
#for i in range(6):
    model = models[i]
    param = params[i]
    result = gridsearch_cv_for_regression(model=model, param=param, kfold=kfold, train_input=X_train, train_target=y_train)
    print(result.best_score_)
    print(result.best_params_)
    results.append(result)

[2021-07-20 22:12:54.953946] Start parameter search for model 'Ridge'
[2021-07-20 22:12:55.902380] Finish parameter search for model 'Ridge' (time: 0 seconds)

-7.924731302037e+17
{'alpha': 0.1}
[2021-07-20 22:12:55.903379] Start parameter search for model 'Lasso'

c:\users\user\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.780930299262589e+21, tolerance: 9.340123657559767e+19
  model = cd_fast.enet_coordinate_descent(

[2021-07-20 22:13:29.258847] Finish parameter search for model 'Lasso' (time: 33 seconds)

-7.920238083731926e+17
{'alpha': 0.1}
[2021-07-20 22:13:29.258847] Start parameter search for model 'ElasticNet'

c:\users\user\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.780930299262589e+21, tolerance: 9.340123657559767e+19
  model = cd_fast.enet_coordinate_descent(

[2021-07-20 22:15:03.994373] Finish parameter search for model 'ElasticNet' (time: 94 seconds)

-7.920238083731923e+17
{'alpha': 0.3, 'l1_ratio': 0.3}
[2021-07-20 22:15:03.995371] Start parameter search for model 'HuberReg'

c:\users\user\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_huber.py:296: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

[2021-07-20 22:15:20.624425] Finish parameter search for model 'HuberReg' (time: 16 seconds)

-7.141778258704577e+17
{'alpha': 0.001}
[2021-07-20 22:15:20.624425] Start parameter search for model 'CART'
[2021-07-20 22:15:28.417544] Finish parameter search for model 'CART' (time: 7 seconds)

-4.4798076013479475e+18
{'max_depth': 5, 'min_samples_split': 0.02}
[2021-07-20 22:15:28.417544] Start parameter search for model 'StandardizedKNN'
[2021-07-20 22:37:56.103116] Finish parameter search for model 'StandardizedKNN' (time: 1347 seconds)

-2.356747927881006e+18
{'KNN__n_neighbors': 5, 'KNN__weights': 'distance'}
[2021-07-20 22:37:56.155088] Start parameter search for model 'XGB'
[2021-07-20 22:38:40.195562] Finish parameter search for model 'XGB' (time: 44 seconds)

-1.2803120831378954e+18
{'colsample_bytree': 0.5, 'gamma': 0.04, 'max_depth': 4, 'min_child_weight': 0.5, 'subsample': 0.5}

In [59]:
results[1].best_params_

{'alpha': 0.1}

# metrics

In [63]:
import numpy as np

def MAPE(y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    mape = 100 - (np.mean(np.abs((y_test - y_pred) / y_test)) * 100)
    return mape


def RMSPE(y_test, y_pred):
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    rmspe = 100 - (np.sqrt(np.mean(((y_test - y_pred) / y_test)**2))*100)
    return rmspe

In [64]:
for i in range(len(results)):
    y_test_hat = results[i].predict(X_test)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_test_hat))
    mae = metrics.mean_absolute_error(y_test, y_test_hat)
    r2 = metrics.r2_score(y_test, y_test_hat)
    mape = MAPE(y_test, y_test_hat)
    rmspe = RMSPE(y_test, y_test_hat)
    
    print("## %s | RMSE: %.4f, MAE: %.4f, R-square: %.4f, Relative Absolute Error: %.4f%%" % (models[i][0], rmse, mae, r2, mape))

## Ridge | RMSE: 976657964.7330, MAE: 217241572.4217, R-square: 0.9867, Relative Absolute Error: -109.6239%
## Lasso | RMSE: 972134079.4445, MAE: 216974264.9219, R-square: 0.9868, Relative Absolute Error: -105.8252%
## ElasticNet | RMSE: 972134079.4445, MAE: 216974264.9219, R-square: 0.9868, Relative Absolute Error: -105.8252%
## HuberReg | RMSE: 977097819.0008, MAE: 159304670.5967, R-square: 0.9867, Relative Absolute Error: 26.3088%
## CART | RMSE: 4806570738.4510, MAE: 349403944.2363, R-square: 0.6782, Relative Absolute Error: -309.1877%
## StandardizedKNN | RMSE: 4625017704.7386, MAE: 246025118.4376, R-square: 0.7020, Relative Absolute Error: -25.9770%
## XGB | RMSE: 3107588077.4095, MAE: 200851092.3778, R-square: 0.8655, Relative Absolute Error: -38.3675%

In [65]:
for i in range(len(params)):
    print(models[i][0], params[i])

Ridge {'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0]}
Lasso {'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0]}
ElasticNet {'alpha': [0.1, 0.3, 0.5, 1.0, 3.0, 5.0, 10.0], 'l1_ratio': [0.3, 0.5, 0.7]}
HuberReg {'alpha': [0.0001, 0.001, 0.01]}
CART {'max_depth': [2, 3, 4, 5], 'min_samples_split': [0.02, 0.05]}
StandardizedKNN {'KNN__n_neighbors': [5, 10, 15, 20, 25, 30], 'KNN__weights': ['uniform', 'distance']}
XGB {'min_child_weight': [0.5, 1.0], 'gamma': [0.04], 'subsample': [0.5], 'colsample_bytree': [0.5], 'max_depth': [3, 4]}

In [66]:
outcome = pd.DataFrame(columns = ['Model', 'Best_parameter', 'RMSE', 'RMSPE', 'MAE', 'MAPE', 'R-squared' ])
for i in range(len(models)):
    y_test_hat = results[i].predict(X_test)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_test_hat))
    mae = metrics.mean_absolute_error(y_test, y_test_hat)
    r2 = metrics.r2_score(y_test, y_test_hat)
    outcome = outcome.append(pd.DataFrame([[models[i][0], results[i].best_params_, rmse , rmspe, mae, mape, r2]],
                                 columns = ['Model', 'Best_parameter', 'RMSE', 'RMSPE', 'MAE', 'MAPE', 'R-squared']),
                    ignore_index=True)
    
outcome

,Model,Best_parameter,RMSE,RMSPE,MAE,MAPE,R-squared
0,Ridge,{'alpha': 0.1},9.766580e+08,-3409.098664,2.172416e+08,-38.36746,0.986713
1,Lasso,{'alpha': 0.1},9.721341e+08,-3409.098664,2.169743e+08,-38.36746,0.986836
2,ElasticNet,"{'alpha': 0.3, 'l1_ratio': 0.3}",9.721341e+08,-3409.098664,2.169743e+08,-38.36746,0.986836
3,HuberReg,{'alpha': 0.001},9.770978e+08,-3409.098664,1.593047e+08,-38.36746,0.986701
4,CART,"{'max_depth': 5, 'min_samples_split': 0.02}",4.806571e+09,-3409.098664,3.494039e+08,-38.36746,0.678183
5,StandardizedKNN,"{'KNN__n_neighbors': 5, 'KNN__weights': 'dista...",4.625018e+09,-3409.098664,2.460251e+08,-38.36746,0.702035
6,XGB,"{'colsample_bytree': 0.5, 'gamma': 0.04, 'max_...",3.107588e+09,-3409.098664,2.008511e+08,-38.36746,0.865480